/* member area */





/* ##############

	Home banner

############## */



#member-login{
	padding: 40px 0;	
}

#member-login > section{
	background:none;
	width: 900px;	
	border:none;
	padding: 0;
	background:#fff;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	box-shadow: 0 0 8px 3px #1079AA;
	-moz-box-shadow: 0 0 8px 3px #1079AA;
	-webkit-box-shadow: 0 0 8px 3px #1079AA;
	
}

#member-login > section > header{
	background: #ececec;
	padding: 3px 15px;
	padding: 10px 10px;
	color: #9f9f9f;
	border-bottom: 1px solid #c0c0c0;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	

	
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 5%, #ececec 83%, #d5d5d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(5%,#ececec), color-stop(83%,#ececec), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 5%,#ececec 83%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#ececec 5%,#ececec 83%,#d5d5d5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#ececec 5%,#ececec 83%,#d5d5d5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#ececec 5%,#ececec 83%,#d5d5d5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */
	

}
	
#member-login > section > header h1{
	display:block;
	width: 660px;
	margin: auto;
	text-transform:uppercase;
	font-size: 28px;
	line-height: 1.5;
	letter-spacing: -0.5px;
	margin-top: 10px;
	background: url(../images/key-grey.png) right top no-repeat;	
}
	
	
	
#member-login > section .content{
	width: 660px;
	margin: 10px auto;	
}


#member-login-form {
	margin-top: 25px;	
}

#member-login-form label {

	width: 190px;
	font-weight:bold;
	letter-spacing: -0.5px;
	color: #777777;
	text-transform:uppercase;



}

#member-login-form input{
	width: 420px;
	color: #ababab;
	font-style:italic
	
}	


#member-login-form label, #member-login-form input{
	border:1px solid #dedede;
	background: #f0f0f0;
    height: 25px;
    padding: 10px;
	float:left;
	display:block;
	font-size: 20px;
	font-style:normal;
}

 #member-login-form input:hover,  #member-login-form input:focus{
	background:#fffbdd;
	color:#222; 
 }
 
 #member-login-form input.error{
	background: #ffeded; 
	
 }
 
 #member-login-form  #messageBox{
	border: 1px dotted #b8b8b8;
	background: #fafafa;
	color: #d50000;
	padding: 5px; 
	font-size: 14px;
	margin-bottom: 15px;
	width: 642px;
 }
 
 
  #member-login-form  #messageBox span{
		color: #222;  
  }

#member-login-form input[type="submit"]{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float:right;
	height: auto;
	text-transform:uppercase;
	font-size: 25px;
	color:#fff;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	width: 250px;
	border:0;
		
	background: #014aaa; /* Old browsers */
	background: -moz-linear-gradient(top,  #014aaa 20%, #013a92 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#014aaa), color-stop(75%,#013a92)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #014aaa 20%,#013a92 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #014aaa 20%,#013a92 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #014aaa 20%,#013a92 75%); /* IE10+ */
	background: linear-gradient(to bottom,  #014aaa 20%,#013a92 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014aaa', endColorstr='#013a92',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0 5px 0px #bdbdbd;

	border: 1px solid transparent;
}

#member-login-form input[type="submit"]:hover{
		box-shadow: 0 -2px 0px #bdbdbd;
		color:#006aff;
		background: #00337b;
		border:1px solid #021a3b;
}



#member-login-form div{
	clear:both;
	padding-bottom: 10px;
	position:relative;
}

	
#forgot{
	display:block;
	background: url(../images/forgot-pass-icon.gif) center left no-repeat;
	padding-left: 40px;
	margin-top: 10px;
	float:left;
	font-size: 20px;
	font-weight:bold;
	text-decoration:none;
	color:#989898;
	text-transform:uppercase;		
}

#forgot:hover{
	color:#0B4694	
}



#member-login aside{
	display:block;
	background: url(../images/bar-shaded-bg.gif) top left repeat-x;
    margin-top: 40px;
    padding: 20px 0;
	
 }
 
 #member-login aside .content{
		width: 670px;
		margin: auto;
		float:none; 
 }

	
#member-login aside h2{
	color: #626262;	
	font-size: 18px;
	text-transform:uppercase;
}


#member-login aside a{
	display:block;
	float:left;
	text-transform:uppercase;
	color: #6c6c6c;
	font-size: 15px;
	padding: 5px 10px;
	text-decoration:none;
	border:1px solid #c7c7c7;
	background:#f4f4f4;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}	

#member-login aside a span{
	color:#fff;
	font-weight:bold;
	padding: 0 5px 0 18px;
	text-transform:uppercase;	
	background: url(../images/free-grey-tag.png) 5px center no-repeat;
}

#member-login aside a:hover{
	border-color: #0b4694;
	color:  #0b4694;	
}

#member-login aside div.or{
	float:left;
	clear:none;
	color:#6c6c6c;
	font-style:italic;
    font-weight: bold;
    line-height: 2.5;
    padding: 0 5px;
}

#member-login .errormessage{
    clear: none;
    display: block;
    float: right;
    position: absolute;
    right: -180px;
    width: 250px;
    z-index: 0;
	background:#fff;
	border:1px solid #ba1717;
	padding: 5px 5px 5px 10px;
	position:absolute;
	letter-spacing:none;
}




#member-login-form div.arrowhead{
	background: url(../images/form-error-arrow.gif) center left no-repeat;
	margin-left: -15px;
	float:left;
	width: 5px;
	height: 25px;
}



#member-login .errormessage label{
	width: auto;
	font-size: 12px;
	font-weight:normal;
	background:none;
	padding: 0;
	display:inline;
	border:0;
	float:none;
	height: auto;
	text-transform:none;	
	color:#ba1717;
	letter-spacing:none;
}













	