

@import url(http://fonts.googleapis.com/css?family=Montserrat|Varela|Chivo);

body{
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color:#222222;	
}


a{
	color: #d50000;
}


a:hover{
	color:#0b4694;	
}


a:visited{
	color:#919191;
}


h1, h2, h3, h4, h5{
	margin-top: 0;
	margin-bottom:5px;	
	line-height: 1.2;
}

h1{
	font-size: 35px;
}


h2{
	font-size: 32px;
}


h3{
	font-size: 30px;	
	text-transform:uppercase;
}

h4{
	color:#5c5c5c;
	font-size: 20px;
	margin-top: 10px;
}


p{
	margin: 0px 0 10px 0;
}

ul{
		padding-left: 5px;	
		margin-left: 15px;
}


li{
	margin-bottom: 5px;
	line-height: 1.3;
}


ul li a:hover{
	text-decoration:none;
	
}

blockquote{
	font-style:italic;
	font-size: 26px;
	line-height: 1.2;
	font-weight:bold;
	width: 325px;
	margin: 10px 0 10px 10px;
	color:#0B4694;	
}

blockquote span{
	font-size: 32px;	
	line-height: 28px;
}

article{
	
}


article header{
	margin-bottom: 10px;	
}

ul.red-bullets{
	color:#D20000;
	margin-left: 25px;
}

ul.red-bullets p{
	color:#222222;	
}

ul.blue-bullets{
	color:#0B4694;
	margin-left: 25px;
}

ul.blue-bullets p{
	color:#222222;	
}



ul.decorated , ul.checkedmark, ul.arrow {
	list-style:none;	
}

ul.decorated{
	margin-left:0 ;	
}


ul.decorated li{
	background:url(../images/ul-decor.gif) 0px 5px no-repeat;
	padding-left: 35px;
	margin-bottom: 8px;

}


ul.arrow li{
	background:url(../images/bullet-arrow.png) 0px 5px no-repeat;
	padding-left: 15px;
	margin-bottom: 8px;

}


ul.checkedmark li{
	background:url(../images/red-checked.png) 0px 5px no-repeat;
	padding-left: 20px;
	margin-bottom: 5px;

}


#trial, #topbanner, .blue-bg, #privacy {
	min-width: 980px;
}



#topbanner{
	background:url(../images/topbanner-bg.jpg) bottom center repeat-x;
	height: 275px;
	


}


#topbanner .content{
	width: 960px;
	position:relative;
	margin:  auto;	
	padding: 0 0 10px 0;
	
	z-index: 10; /*fix stupid IE7*/
}

#logo{
	display:block;
	margin-top: 23px;
	float:left;
}

p.intro{
	padding-left: 38px;
	width: 58%;
	clear:both;
	margin:0 0 10px 0;
	display:block;	
}

nav#top-links{
	font-size: 12px;
	display:block;
	width:100%;
	padding-top: 10px;
	text-align:right;
}

nav#top-links ul{
	list-style:none;	
}

nav#top-links li{
	display:inline;	
	margin: 5px 10px;
}

nav#top-links a, nav#main-nav ul li a{
	color: #1e1e1e;
	font-size: 13px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}

nav#top-links a:hover, nav#main-nav ul li a:hover{
	text-decoration:underline;	
	color:#d50000;

}



nav#top-links a.loginlink{
	background: url("../images/keylock.png") no-repeat scroll 94% center #D50000;
	color: #fff;
	padding: 10px 29px 5px 10px;
	display:block;
	float:right;	
	
	margin-top: -10px;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}



nav#main-nav{
	clear:left;
	margin-left: 35px;
	
	position:relative;
	top: 15px;
	z-index: 500;
}



nav#main-nav ul{
	list-style:none;

}

nav#main-nav ul li{
	display:block;
	/*position:relative;*/
	float:left;
	margin: 0 8px 0 0	
	
}

nav#main-nav ul li a{
	color:#252525;
	font-size: 20px;
	-moz-text-shadow: 0 0 2px 5px #fff;
	-webkit-text-shadow: 0 0 2px 5px #fff;
	text-shadow: 0 0 2px 5px #fff;
	display:block;
	padding: 15px 22px 15px 10px;
	margin-top: 11px;
	
	
	-webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}

nav#main-nav ul li:hover > a{
	background:#d50000;
	color:#fff;
	text-decoration:none;	
}

nav#main-nav ul li a.parent{
	background: url(../images/grey-down-arrow.png) 95%  center no-repeat;
	


	
}

nav#main-nav ul li:hover  a.parent{
	background:#d50000 url(../images/white-down-arrow.png) 95% center no-repeat;
	
}

nav#main-nav ul li ul.children{
	display:none;
	position:absolute;
	background:#093a7f;
	z-index:20;
	padding: 3px 0;
	margin:0;
	
	box-shadow: 0 3px 5px #959595;



}


nav#main-nav ul li:hover ul.children{
	display:block;	


}

nav#main-nav ul li ul.children li{
	margin:0;
	float:none;
	border-bottom:1px solid #1F4C8B;
}


nav#main-nav ul li ul.children a{
	background:none;
	font-size: 14px;
	color:#fff;
	font-weight:normal;
	padding: 8px 30px 8px 15px;
	margin: 0;
	text-transform:none;
	-webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;


}

nav#main-nav ul li ul.children a:hover{
	background:#185dbd;
}


#join-free-network{
	position:relative;
}

#join-free-network img{
	
	position:absolute;
	top: 3px;
	left: 35px;
	float:left;
}

nav#main-nav ul li#join-free-network a{
		padding-right:10px;
}





ul.right-bullet{
	list-style:none;	
	display:block;
	position:absolute;
	top: 35px;
	right: 0;
}

ul.right-bullet a{
	display:block;
	position:relative;	
	background:url(../images/top-right-bullet-bg.png) top left no-repeat;
	width: 270px;
	height: 28px;
	padding: 20px 5px 0px 55px;
	margin:5px 0;
	font-weight:bold;
	color:#fff;	
	font-size: 16px;
	text-decoration:none;
	
}

ul.right-bullet a:hover{
	background-position: top right;	
}



a.free-sms span{
	display:block;
	background:url(../images/free-green-flag.png) top left no-repeat;
	width:88px;
	padding-left: 20px;
	height: 48px;
	right: 40px;
	top:12px;
	position:absolute;
	float:right;
	font-size: 28px;
	text-align:left;
}


#main-content{
	position:relative;
	padding-bottom: 20px;
}

.blue-bg{
	background: #1184ba url(../images/blue-gradient-bg.jpg) top center repeat-x;

}


.blue-bg > section{
	background:#fff;
	width: 960px;
	margin:auto;		
	
	-webkit-box-shadow: 0px 0px 8px 0 #afafaf ;
	-moz-box-shadow: 0px 0px 8px 0px #afafaf ;
	box-shadow: 0px 0px 8px 0px #afafaf ;

}


/* ##############

	Home banners

############## */

#home-banner #plan-options h3{
	display:block;
	border-top: 1px solid #6cbee3;
	border-bottom: 1px solid #6cbee3;
	padding: 8px 0;
	margin: 10px 0;
	color:#fff;
	font-size: 14px;
	
	text-transform:uppercase;
	text-align:center;
}

#home-banner #plan-options nav{
	display:block;
	height: 100px;
		border-bottom: 1px solid #6cbee3;	
}

#home-banner #plan-options nav ul{
	display:block;
	width: 95%;
	margin: auto;	
}


#home-banner #plan-options nav li{
	display:block;
	width: 24.5%;
	float:left;	
	text-align:center;
	border-right: 1px solid #6cbee3;	
}

#home-banner #plan-options nav li.last{
		border:none;	
}



#home-banner #plan-options nav li a{
	color:#fff;
	text-decoration:none;	
	position:relative;
}

#home-banner #plan-options nav li a:hover{
	color:#00f6ff;
}

#home-banner #plan-options nav strong{
	font-size:	28px;
	line-height: 1;
	text-transform:uppercase;
	display:block;
	margin: 5px 0 ;
}

.free-vertical{
	display:block;	
	margin-top: -52px;
	margin-right: -40px;
	float:left;
}


/* ##############

Layout stuff

############## */


#main-content > section .box:first-of-type{
	margin-top: 5px;	
}


.box{
	width: 940px;
	margin: 0 auto;	
	clear:both;
}

.wrapper-content{
	background:#fff;	
}






/* ##############

Pricing table

############## */

#pricing-table{
	position:relative;
	width: 950px;
	margin:auto;
	padding-bottom: 30px;
	margin-bottom: 40px;
		
}

#pricing-table > header {
	display:block;

}

#pricing-table > header  > h1{
	/*
	background:url(../images/pricing-table-header-bg.png) top center no-repeat;
	position:absolute;
	top: -50px;	
	right:-20px;
	width:302px;
	height: 50px;
		line-height: 3.5;
	*/
	display:none;
	line-height: 1.5;
background: #000;

	margin:0;
	font-size: 18px;	
	letter-spacing: 1px;
	color:#474646;
	font-weight:normal;


	text-align:center;
	text-transform:uppercase;
	font-size: 18px;
	color:#474646 !important;
}

#pricing-table article{
	border-bottom: 1px solid #c1d2e8;
}


#pricing-table article header, #pricing-table article .benefits, #pricing-table article .sign-up-box{
		height: 180px;
		display:block;
}

#pricing-table article header{
	display:block;
	width: 235px;
	padding-right: 30px;
	margin-bottom:0;
	background:red;
	float:left;
	text-align:center;
	color:#212121;
	background:url(../images/price-table-header-bg.png) center right no-repeat;
	border-bottom:1px solid #cbcbcb;
}


#pricing-table header a{
	color:#fff;	
	display:block;
	padding-top: 60px;
	text-decoration:none;
}

#pricing-table header h1{
	text-transform:uppercase;
	font-size: 20px;
	letter-spacing: -0.5px;	
	margin:0;
	color:#000000;

}

#pricing-table header h2{
	font-size: 16px;	
	font-weight:normal;
	margin:0;
	color:#018ac9;
}



#pricing-table article a{
	color:#212121;	
	text-decoration:none;
}


#pricing-table article .benefits{
	width: 423px;
	float:left;
	border-bottom:1px solid #cbcbcb;
	
background:url(../images/benefits-bg.jpg) top right repeat-y; /*older */

background: -moz-linear-gradient(left,  #ffffff 96%, #d3d3d3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(96%,#ffffff), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ffffff 96%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ffffff 96%,#d3d3d3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ffffff 96%,#d3d3d3 100%); /* IE10+ */
background: linear-gradient(left,  #ffffff 96%,#d3d3d3 100%); /* W3C */



}

#pricing-table article .benefits h1{
	text-transform:uppercase;
	font-size: 17px;
	padding-top: 15px;
	
}

#pricing-table article .benefits ul {
	margin:0;
}


#pricing-table article .benefits ul li{
	display:block;
	font-size: 12px;
}



#pricing-table article .benefits ul.half{
	overflow:auto;
	padding:0;
	margin:0;	
	width: 48%;
	float:left;
	
}



#pricing-table article .sign-up-box{
	float:right;
	border-bottom:1px solid #cbcbcb;
	position:relative;
	width: 262px;
	text-align:center;

	-webkit-box-shadow: 0px 0px 3px 1px #cdcdcd;
	-moz-box-shadow: 0px 0px 3px 1px #cdcdcd;
	box-shadow: 0px 0px 3px 1px #cdcdcd;	
}

#pricing-table article .sign-up-box span{
	display:block;	
}

#pricing-table article .sign-up-box .free{
	background:url(../images/green-free-bg.png) top center no-repeat;
	text-align:center;
	text-transform:uppercase;
	font-weight: 20px;
	color:#fff;
	font-size: 35px;
	font-weight:bold;
	width: 300px;
	height: 70px;
	top: 20px;
	left: -20px;
	position:absolute;
	z-index: 5;
}

#pricing-table article .sign-up-box .grey{
	margin-top: 75px;	
	font-weight:bold;
}

#pricing-table article .price-range{
	font-size: 30px;
	line-height: 1.2;
	font-weight:bold;
	text-align:center;	
	margin-top: 30px;
	letter-spacing:-0.5px;
}

#pricing-table article del{
	color:#999999;	
	font-weight:normal !important;
}


#pricing-table article .blue-green-btn{
	position:relative;
	margin-top: 5px;
}


#pricing-table article.active > header h1{
	font-size: 35px;
	line-height: 1;
	margin-bottom: 10px;
}

#pricing-table article.active > header a{
	padding-top: 45px;	
}


#pricing-table article.active .benefits{
	background:url(../images/benefits-bgR.jpg) top right repeat-y #d50000; /* Old browsers */

	background: -moz-linear-gradient(left,  #d50000 96%, #9b0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(96%,#d50000), color-stop(100%,#9b0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #d50000 96%,#9b0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #d50000 96%,#9b0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #d50000 96%,#9b0000 100%); /* IE10+ */
	background: linear-gradient(left,  #d50000 96%,#9b0000 100%); /* W3C */

}


#pricing-table article.active header *, 
#pricing-table article.active .benefits *{

	color:#fff !important;
}

#pricing-table article.active header{
	background: #d50000 url("../images/price-table-header-bg-white.png") no-repeat  right center;
}

#pricing-table article.active ul.checkedmark li{
	background:url(../images/white-checked.png) no-repeat scroll 0 5px transparent;
}

#pricing-table article.active .red-plus{
	background:url(../images/icon-white-plus.png) no-repeat scroll 0 10px transparent;
}

#pricing-table article.active .red-plus:hover{
	color: #fffeac !important;	
}

.business{
	margin: 10px 15px 0 25px;	
	font-size: 14px;
	text-transform:uppercase;

}



/* ##############

blog area

############## */


#blog .posts{
	border-top: 5px solid #d20000;
	border-bottom: 5px solid #d20000;
	padding: 10px 0;
	margin-left: 250px;
}



#blog .posts > header h1{
	border-bottom: 5px solid #d20000;
	padding: 0 10px 10px 10px;
	color:#d20000;
	text-transform:uppercase;
	font-size: 25px;
}





aside.sidebar {
  /*  float: left;*/
    margin-left: 0;
    margin-right: 30px;
   /* position: absolute;*/
    width: 230px;
}


aside.sidebar nav ul{
	list-style:none;
}

aside.sidebar nav a{
	display:block;
	padding: 10px;
	border: 5px solid #d20000;
	color:#1E1E1E;
	text-transform:uppercase;	
	position:relative;

	font-size: 30px;
	line-height: 1;
	font-weight:bold;
	letter-spacing:-0.5px;
	text-decoration:none;
	margin: 10px 0 30px 0;
	
}

aside.sidebar nav a span{
	display:block;
	text-transform:none;
	font-size: 14px;
	position:absolute;
	bottom: 10px;
	left: 10px;
	letter-spacing:0;
	font-weight:normal;	
}

aside.sidebar nav a:hover{
	border-color:#0b4694;
	color:#0b4694;	
}
aside.sidebar nav  a:hover span{
	color:#0b4694;		
}


aside.sidebar .hasChildren{
		margin: 0px 0 10px 0px;
}


aside.sidebar .hasChildren.active a{
	margin-bottom:0;
}


aside.sidebar .hasChildren span.show-hide{
	background: none repeat scroll 0 0 #D20000;
    color: #FFFFFF;
    display: block;
	left: 86.5%;
	top: 0px;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    line-height: 2.6;
    text-align: center;
    width: 30px;
	}

aside.sidebar .hasChildren.selected  span.show-hide{
	background:#0b4694;
}

aside.sidebar .hasChildren.selected a:hover  span.show-hide{
	background:#d20000;
}

aside.sidebar .hasChildren:hover, aside.sidebar a.hasChildren:hover .selected {

	color: #d20000;	
}


aside.sidebar li.selected{
	border: 5px solid #0B4694;
}

aside.sidebar li.selected > a{
	border: none;
	border-bottom:  5px solid #0B4694;
	height: auto;	
	color: 	#0B4694;
	margin-bottom: 5px;
	margin-top: 0px;
}





aside.sidebar ul.children {
	padding: 0 10px;
	margin-bottom: 10px;
display:none;

}

aside.sidebar ul.children a{
	font-size: 18px;
	border:none;
	height: auto;
	font-weight: normal;
	text-transform: none;
	margin:0;
	padding: 5px;	
	line-height: 1.3;
	border-bottom: 1px solid #d2d2d2;
		letter-spacing: 0;		
}

aside.sidebar ul.children a.course-group-title{
	border-bottom: 0;	
}

aside.sidebar ul.children a:hover{
	background: #d6e0ed;
}


aside.sidebar ul.children ul a{
	font-size: 16px;	
	border-bottom: none;
}

aside.sidebar ul.children ul {
	border-bottom: 1px solid #d2d2d2;
}

aside.sidebar ul.children ul li a{
	padding-left: 25px;	
}

#blog article{
	margin: 10px 10px 10px 0px;
	padding: 10px 10px 30px 10px;
	border-bottom: 1px solid #c6c6c6;

}

#blog article > header > h1{
	margin-bottom: 0;	
	font-size: 30px;
}

#blog article > header a{
	color: #000;
}

#blog article > header a:hover{
	color:#0b4694;
}


#blog article a{
	text-decoration:none;
}
#blog article a:hover{
	text-decoration:underline;
}

a.continue-reading{
	font-weight:bold;	
}

a.view-all-articles{
	clear:both;
	float:right;
}




/* ##############

Privacy and Safety section

############## */

#privacy, #main-footer{
	clear:both;	
	margin:auto;
	overflow:auto;	
}


#privacy{
	margin:20px auto;
	border-bottom: 5px solid #d20000;
	
	
}

#privacy > header h3{
		color:#d20000;
		text-transform:uppercase;
		margin:0;
		text-align:center;
}

#privacy nav{
	border-top: 1px solid #c9c9c9;
	color: #5B5B5B;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 7%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(7%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 7%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 7%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 7%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #f4f4f4 0%,#ffffff 7%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
	overflow:auto;
}

#privacy nav li{
	display:block;
	float:left;	
	border-right:1px solid #c9c9c9;
	margin-right: -1px;
	width: 19.5%;
}

#privacy nav a{
	display:block;

	height: 50px;

	text-align:center;
	text-transform:uppercase;	
	text-decoration:none;
	color:#000;
	font-size: 16px;
	padding-top: 10px;

	margin: 5px -1px 10px 0;
}

#privacy nav a:hover{
	color:#0B4694;	
}


#privacy nav li.last{
	border:none;	
}



/* ##############

Main footer

############## */


#main-footer{

	margin:10px 10px 20px 10px;
}

#main-footer small{
	display:block;
	float:left;
}

.nps{
	float:right;	
}

.nps a{
	text-transform:uppercase;
	font-size:11.5px;	
	text-decoration:none;
}


/* ##############

buttons

############## */

.button{
	
}

.red-button, .grey-button{
	display:block;
	background:#d50000;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	padding: 5px;	
	text-decoration:none;
	font-weight:bold;
	margin: 5px 0;
}

.grey-button{		
	background:#6a6a6a;
}

.blue-green-btn{
	display:block;
	background:url(../images/btn/blue-green-rounded-btn.png) top center no-repeat;
	width: 246px;
	height: 44px;
	color:#fff;
	font-weight:bold;
	font-size: 19px;
	line-height:2.4;
	text-transform:uppercase;
	
}

.blue-green-btn:hover{
	background-position:bottom center;	

}

.blue-rounded-btn{	
	position:relative;
	background:#0b4694;
	border:1px solid #1072f4;
	display:block;
	color:#fff;
	font-size: 20px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	padding: 5px 15px;
	margin: 10px 5px;	
	text-align:center;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


a.blue-rounded-btn:hover{
	background:	#d20000;
	color:#fff;
	border:1px solid #bc0000;
}

.blue-rounded-btn.smaller{
	width: 60%; 
	margin:15px auto;
}


.blue-rounded-btn.smaller h3{
	font-weight:normal;
	margin:0;	
}


a.red-rounded-btn{

	display:block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#fff;
	font-size: 20px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	padding: 5px 15px;
	margin: 10px 5px;	
	text-align:center;

border:1px solid #ff0000;

background: #e80000; /* Old browsers */
background: -moz-linear-gradient(top,  #e80000 0%, #d50000 28%, #d50000 61%, #a00000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e80000), color-stop(28%,#d50000), color-stop(61%,#d50000), color-stop(100%,#a00000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e80000 0%,#d50000 28%,#d50000 61%,#a00000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e80000 0%,#d50000 28%,#d50000 61%,#a00000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e80000 0%,#d50000 28%,#d50000 61%,#a00000 100%); /* IE10+ */
background: linear-gradient(top,  #e80000 0%,#d50000 28%,#d50000 61%,#a00000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80000', endColorstr='#a00000',GradientType=0 ); /* IE6-9 */
}

a.red-button:hover, a.red-rounded-btn:hover{
	color:#7e0000;	
}


a.grey-rounded-btn{
	display:block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#fff;
	font-size: 15px;
	font-weight:bold;	
	text-transform:uppercase;
	text-decoration:none;
	padding: 5px 15px;
	margin: 10px 5px;	
	text-align:center;
	
	background:#292929;
}

a.grey-button:hover, a.grey-rounded-btn:hover{
	background:#434343;	
	color:#fff;
}


.top{
	color:#969696;
	text-transform:uppercase;
	display:block;
	/*background:url(../images/grey-top-arrow.png) top left no-repeat;
	padding-left: 18px;	*/
	padding-right: 25px;
	text-decoration:none;
	font-weight:bold;
	font-size: 12px;
}

.top b{
	display:block;
	float:left;
	line-height: 1.1;
}

/* ##############

top trial sign up bar

############## */

#trial{
	background:#d50000;
	text-align:center;
	color:#fff;
	width: 100%;
	padding: 5px 0;	
	font-size: 12px;
	
}
#trial a{
	color:#fff88d;
	text-decoration:underline;	
}
#trial a:hover{
	color:#fff;	
	text-decoration:none;
}




.sticky{

	color:white;
	width: 240px;
	height: 110px;
	padding: 5px 0 10px 10px;

	z-index: 50;
	bottom:0;
	right:0;
	position:fixed;
	text-align:center;
	
	background: #fff;
	border:1px solid #c4c4c4;

	-moz-box-shadow: 0 0 8px #c4c4c4;
	-webkit-box-shadow: 0 0 8px #c4c4c4;	
	box-shadow: 0 0 8px #c4c4c4;

}



.sticky h2.free{
	font-size: 24px;
	background:green;
	display:block;
	position:absolute;
	top: -20px;
	padding: 5px;
	right: 10px;
	float:right;
	
	-moz-box-shadow: -3px 3px 0px #074800;
	-webkit-box-shadow: -3px 3px 0px #074800;
	box-shadow: -3px 3px 0px #074800;	

}

.sticky .red-button{
	font-size: 22px;
	text-align:left;
	position:relative;
	margin-bottom: 10px;
	padding-left: 15px;
}

.sticky .red-button:hover{
	background:#0B4694;
	color:#fff;
}

.sticky .red-button:visited{
	color: #fff;	
}


.sticky .red-button:hover .free{
	color:#fff;	
}

.sticky .red-button:visited .free{
	color:#fff;	
}


.sticky .grey-button{
	padding-left: 15px;
	font-size: 15px;
	text-align:left;
}

.sticky .social{
	float:left;	
	border-right: 1px solid #e3e3e3;
	height: 55px;
}

.sticky h5{
	text-transform:uppercase;
	color:#0c3d82;
	font-size: 10px;	
	letter-spacing: 1px;
	margin:0;
}


.sticky .twitter{
	background-image:url(../images/twitter-icon.gif);
}


.sticky .facebook{
	background-image:url(../images/facebook-icon.gif);
}





.sticky .twitter, .sticky .facebook{
	display:block;
	float:left;	
	margin: 0 5px;
	width: 40px;
	height: 40px;
	background-position: center left;
	background-repeat:no-repeat;
	text-indent: -9999px;
}




.sticky .twitter:hover, .twitter:hover{

	background-position: center right;	
}

.sticky .facebook:hover, .facebook:hover{

	background-position: center right;	
}




.sticky .ask-questions{
	background:url(../images/askaquestion-icon.gif) top left no-repeat;
	padding-left: 45px;
	color:#0c3d82;	
	display:block;
	height: 40px;
	float:left;
	text-transform:uppercase;
	text-decoration:none;
	font-size: 14px;
	line-height: 1;
	font-weight:bold;
	width: 80px;
	text-align:left;
	margin: 12px 5px 0 5px;
	padding-top: 5px;
}

.sticky .ask-questions:hover{
	background-image:url(../images/askaquestion-iconR.gif);
	color: #d50000;	
}



/* ################

misc

#################*/

.clear{
	clear:both;
}

.right{
	float:right;	

}

.left{
	float:left;	

}

.center{
	margin:auto;
		
}

.text-center{
	text-align:center;	
}

.grey{
	color:#ababab !important;;
}

.red{
	color:#D50000;	
}

.red.underline{
	border-bottom:3px solid #D50000;
}

.blue{
	color:#0B4694;	
}

.black{
	color:#000;
}


.green{
	color:#06ff00;	
}

.image{
	padding: 10px;
	border:1px solid #dadada;
	margin: 5px;
}

.red-plus{
	display:block;
	background:url(../images/icons/icon-red-plus.png) 0 10px no-repeat;
	color:#c40101;
	padding: 7px 0 0 20px;
	font-weight:bold;
	font-size: 14px;
	text-transform:uppercase;
	clear:both;
}

.outlined{
	border:5px solid #d4d4d4;
	padding: 15px;	
	
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 88%, #f4f4f4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(88%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 88%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 88%,#f4f4f4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 88%,#f4f4f4 100%); /* IE10+ */
background: linear-gradient(top,  #ffffff 0%,#ffffff 88%,#f4f4f4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */


}


h1.large{
	line-height: 1.1;	
}

.large span{
	display:block;
	font-size: 80px;
	line-height:1;
	text-transform: uppercase;
	float:left;
	margin-right: 15px;	
	margin-left: 35px;
	letter-spacing: -0.5px;
	color:#D50000;
}

.meta{
	padding-bottom: 10px;
	color:#5c5c5c;
	font-weight:normal;
	font-size: 14px;	
}



.red-arrow-title span.red-rounded-arrow{
	display:block;
	float:left;
	background:url(../images/rounded-red-arrow.gif) center no-repeat;
	width: 283px;
	padding-left: 15px;
	height: 51px;
	color:#fff;
	text-transform:uppercase;
	font-size: 30px;
	font-weight:bold;
	line-height: 1.8;
	margin: 15px 5px 5px 0;
	
}

.red-arrow-title h1, .red-arrow-title h2, .red-arrow-title h3, .red-arrow-title h4{
	font-size: 25px;	
	line-height: 1.1;
	margin-bottom: 20px;
	overflow:hidden;
}

.bordered-box{
	padding: 10px;
	border:1px solid #d3d3d3;	
}


.bar{
	height: 3px;
	width: 100%;
	margin: 10px 0;
	background: #d9d9d9;	
}

.left-indented{
	margin-left: 15px;	
}


.box-left{
	display:block; 
	float:left; 
	margin-right: 30px;
}

h2.smaller{
	font-size: 25px;
}	

.no-margin{
	margin:0;	
}

.normal-weight{
	font-weight:normal;	
}

.larger{
	font-size: 1.4em;	
}

.indent{
	padding-left: 70px;
	display:block;	
}

