application.ini
htdocs-bak
htdocs/beta
htdocs/beta-d
htdocs/beta-old
access_codes.csv
files/*
members-d
members-e
members
.cshrc
.history
.gitconfig
.login
.login_conf
.mail_aliases
.mailrc
.profile
.rhosts
.shrc
.ssh
.mysql_history
*.sql
.MTS
htdocs/images/brooklyn
